.container{
  border-bottom: 1px solid black;
  padding: 20px;
}

.currency-value{
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.currency-value input{
  float: right;
  font-size: 18px;
}

.currency-result{
  margin: 20px 0px 20px 20px;
  border: 1px solid black;
  display: inline-block;
}

.currency-label{
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

.choose-currency select{
  width: 100%;
  font-size: 14px;
}

.choose-currency input{
  margin-top: 10px;
  font-size: 16px;
}

.remove-button{
  padding: 20px;
  border-radius: 4px;
  float: right;
  background-color: rgb(218, 66, 66);
  color: #ffffff;
}

.result-box{
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 10px;
}

.currency-result-name{
  font-size: 16px;
}

.add-button{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  background-color: deepskyblue;
  color: #ffffff;
  font-size: 16px;
}

/* Create two equal columns that floats next to each other */
.colomn {
  float: left;
  width: 40%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .colomn {
      width: 100%;
  }
}